# Auto detect text files and perform LF normalization
* text=auto
*.html filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/.bin/electron filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/.bin/extract-zip filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/.bin/semver filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@electron/get/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@sindresorhus/is/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@socket.io/component-emitter/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@szmarczak/http-timer/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/cacheable-request/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/cookie/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/cors/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/css-font-loading-module/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/earcut/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/http-cache-semantics/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/keyv/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/node/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/responselike/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@types/yauzl/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@webgpu/types/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/@xmldom/xmldom/LICENSE filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/accepts/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/base64id/LICENSE filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/buffer-crc32/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/cacheable-lookup/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/cacheable-request/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/clone-response/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/cookie/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/cors/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/decompress-response/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/decompress-response/node_modules/mimic-response/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/defer-to-connect/LICENSE filter=lfs diff=lfs merge=lfs -text
*.eslintrc filter=lfs diff=lfs merge=lfs -text
*.nycrc filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/define-data-property/LICENSE filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/define-properties/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/detect-node/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/earcut/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/electron/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/electron/dist/LICENSE filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.asar filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/electron/dist/version filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/end-of-stream/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/engine.io-client/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/engine.io-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/engine.io/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/env-paths/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/es-define-property/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/es-errors/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/escape-string-regexp/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/eventemitter3/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/extract-zip/LICENSE filter=lfs diff=lfs merge=lfs -text
*.npmignore filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/fd-slicer/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/fs-extra/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/function-bind/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/get-intrinsic/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/get-stream/license filter=lfs diff=lfs merge=lfs -text
*.flowconfig filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/global-agent/LICENSE filter=lfs diff=lfs merge=lfs -text
*.flow filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/global-agent/node_modules/.bin/semver filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/global-agent/node_modules/semver/LICENSE filter=lfs diff=lfs merge=lfs -text
*.bnf filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/globalthis/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/gopd/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/got/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/graceful-fs/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/has-property-descriptors/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/has-proto/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/has-symbols/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/hasown/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/http-cache-semantics/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/http2-wrapper/LICENSE filter=lfs diff=lfs merge=lfs -text
*.eslintignore filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/ismobilejs/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/json-buffer/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/json-stringify-safe/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/json-stringify-safe/Makefile filter=lfs diff=lfs merge=lfs -text
*.opts filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/jsonfile/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/lowercase-keys/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/matcher/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/mime-db/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/mime-types/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/mimic-response/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/negotiator/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/normalize-url/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/object-assign/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/object-keys/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/once/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/p-cancelable/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/parse-svg-path/License filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/pend/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/pixi.js/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/progress/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/progress/Makefile filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/pump/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/quick-lru/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/resolve-alpn/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/responselike/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/roarr/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/semver-compare/LICENSE filter=lfs diff=lfs merge=lfs -text
*.markdown filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/semver/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/serialize-error/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/socket.io-adapter/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/socket.io-client/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/socket.io-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/socket.io/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/sprintf-js/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/sumchecker/LICENSE filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/type-fest/license filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/undici-types/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/universalify/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/vary/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/wrappy/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/ws/LICENSE filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/xmlhttprequest-ssl/LICENSE filter=lfs diff=lfs merge=lfs -text
*.watchr filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/xmlhttprequest-ssl/tests/testBinaryData filter=lfs diff=lfs merge=lfs -text
/Weave/node_modules/yauzl/LICENSE filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
